/* CSS rules to specify families
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Main - Характерные черты компании */
/* Portfolio - Projects List */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.main-body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/* ===HEADER=== */
.header {
  background-color: #ffffff;
}
/* Logo used to header and footer */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-w {
  color: #2196f3;
}
.h-logo-s {
  color: #000000;
}
/* .logo:hover,
.logo:focus {
  color: #2196f3;
} */

.navigation,
.header-contacts-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list {
}
.nav-list-item {
  color: #212121;
}
.nav-list-item:hover,
.nav-list-item:focus {
  color: #2196f3;
}
.header-contacts {
}
.header-contacts-list-item {
  color: #757575;
}
.header-contacts-list-item:hover,
.header-contacts-list-item:focus {
  color: #2196f3;
}
/* ===HEADER END=== */

/* ===MAIN=== */
/* MAIN - SECTION-1 "hero" */
.main {
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  background-color: #2196f3;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* MAIN - SECTION-2 "activity" (DIV-1, DIV-2) */
/* DIV-1 - "description" */
.activity {
}
.description {
}
.desc-title {
}
.desc-list {
}
.desc-list-item {
}
.desc-item-title {
}
.desc-item-text {
}

/* DIV-2 - "workspace" */
.workspace {
}
.workspace-title {
}
.work-title-list {
}
.work-list-item {
}
.work-item-img {
}

/* MAIN - SECTION-3 "staff" */
.staff {
}
.staff-title {
}
.staff-list {
}
.staff-list-person {
}
.staff-person-foto {
}
.staff-person-name {
}
.staff-person-position {
}
/* ===MAIN END=== */

/* =====PORTFOLIO-MAIN (H1 + SECTION)===== */
.port-main {
}
/* ===H1 - hidden=== */
.port-prj-title {
}

/* ====SECTION "port-projects" (UL-1 + UL-2)==== */
.port-projects {
}

/* ==UL-1 "prj-type"== */
.port-prj-type {
}
.port-type-item {
}
.port-item-btn {
}

/* ==UL-2 "prj-list"== */
.port-prj-list {
}
.port-list-item {
}
.port-item-img {
}
.port-item-title {
}
.port-item-type {
}
/* =====PORTFOLIO-MAIN END (H1 + SECTION)===== */

/* ===FOOTER=== */
.footer {
  background-color: #2f303a;
}
.f-logo-s {
  color: #ffffff;
}
.footer-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-list-item {
}
.address {
}
.address-link {
  font-style: normal;
  color: #ffffff;
}
.address-link:hover,
.address-link:focus {
  color: #2196f3;
}
.footer-list-item-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-list-item-link:hover,
.footer-list-item-link:focus {
  color: #2196f3;
}
/* ===FOOTER END=== */
